name: Publish Image to GHCR

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u fakhrin31 --password-stdin

      - name: Build image
        run: docker build -t ghcr.io/wednesdev-id/folearn-backend/strapi:latest .

      - name: Push image
        run: docker push ghcr.io/wednesdev-id/folearn-backend/strapi:latest
